################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
#########################################
# Buildout settings
# Modify at your own risks
#########################################
[buildout]
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part

[versions]
setuptools = 0.6c9
miniage.core = 0.0.4
minitage.recipe = 0.0.1

[part]
name = part
recipe = minitage.recipe:cmmi
url = http://www.apsis.ch/pound/Pound-2.4.3.tgz
md5sum = 2de4c2ac1023b420b74a1bc08fb93b8a
noconfigure=true
pre-configure-hook=${buildout:hooks-directory}/conf.py:conf
ssl=${buildout:directory}/../../dependencies/openssl-0.9/parts/part
#user=
#group=

[mirrors]
gentoo= gentoo.imj.fr/pub

